@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --negro:#111111;
  --violeta:#5e4ae3;
  --azul:#009fb7;
  --salmon:#ff5a5f;
  --humoblanco:#f5f5f5;
  --blanco: #ffffff;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--humoblanco);
}

.footer{
  background-color: var(--blanco);

  padding: 0 140px;
}

.adquiere {
  height: 80px;
  background-color: var(--salmon);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 30px;
  font-weight: 600;
  margin: 50px 0;
}

.adquiere a {
  color: var(--blanco);
}

footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}